
.icono{
    width: 50px;
    margin: 0;
}

body{
    font-family: 'Kanit', sans-serif;
}
.navar-brand{
    font-family: 'Monoton', cursive;
}
h1{
    font-family: 'ADLaM Display', cursive;
    text-align: center;
    text-shadow: 2px 1px 2px;
}
p{
    font-family: 'Kanit', sans-serif;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}
li{
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}

.cuadrados{
    text-align: justify;
    margin-left: 20px;
}

.card-group{
    margin: 20px;
}
footer{
    font-family: 'Kanit', sans-serif;
}